.Button {
    background-color: transparent;
    padding: 10px;
    margin: 2em 0em;
}

.Button:hover {
    cursor: pointer;
}

.Disabled {
    color: grey;
}

.Success {
    color: white;
    background-color: rgb(59, 59, 252);
}
