.FormContainer {
    position: absolute;
    margin-top:4em;
}

.Show{
    animation: in .7s forwards;
}
.Hide{
    animation: out .7s ease-out forwards;
}

@keyframes out {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(220%)
    }
}

@keyframes in {
    0%{
        transform: translateX(220%);
    }
    50%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(0%);
    }
}