
.Show{
    animation: in .7s forwards;
}
.Hide{
    animation: out .7s ease-out forwards;
}

.Link:hover{
    color: lightblue;
}

@keyframes out {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
        display: none;
    }
}

@keyframes in {
    0%{
        transform: translateX(-200%);
    }
    50%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0%);
    }
}