
.LoginContainer{
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: all .5s ease-out;
}

.Toggle{
    width: 170px;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 3em;
}

.Shrink{
    height: 420px;
}

.Grow{
    height: 500px;
}


